# Don't automatically link to workspace packages.
# One must use the explicit `workspace:...` protocol instead.
#
# https://pnpm.io/npmrc#link-workspace-packages
link-workspace-packages=false
auto-install-peers=true
dedupe-peer-dependents=true
strict-peer-dependencies=true

# Workaround for current problems regarding our vite plugin + vite's optimizeDeps feature
shamefully-hoist=true

# Workspace root itself depends on runtime, and all packages (including runtime) have a dev dependency on workspace root
# for shared scripts.
ignore-workspace-cycles=true
